[submodule "grove.py"]
	path = grove.py
	url = https://github.com/Seeed-Studio/grove.py
[submodule "Grove-RaspberryPi"]
	path = Grove-RaspberryPi
	url = https://github.com/bbarrs/Grove-RaspberryPi.git
